.btn {
  display: flex;
  padding: 11px 20px;

  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--form {
    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.6;
  }
}
