.footer {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  padding: 50px 0;

  @include vp-1023 {
    padding: 47px 0;
  }

  @include vp-767 {
    padding: 40px 0 36px;
  }
}

.footer__wrapper {
  display: flex;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  display: flex;
  color: $color-alice-blue;
  margin-right: 40px;
  width: 70px;
  height: 38px;

  @include vp-1023 {
    margin-right: 25px;
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    margin-left: 1px;
    margin-right: 0;
    margin-bottom: 23px;
  }

  svg {
    @include vp-1023 {
      width: 38px;
      height: 20px;
    }

    @include vp-767 {
      width: 42px;
      height: 22px;
    }
  }

  @include hover {
    opacity: 0.6;
  }
}

.footer__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    flex-direction: column;
  }

  a {
    color: $color-alice-blue;

    @include hover {
      opacity: 0.6;
    }
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  row-gap: 10px;
  column-gap: 35px;
  padding-top: 6px;

  @include vp-1023 {
    column-gap: 25px;
  }

  @include vp-767 {
    flex-direction: column;
    row-gap: 17px;
    margin-bottom: 23px;
  }

  a {
    display: flex;
  }
}

.footer__socials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style-type: none;
  margin-right: -5px;
  padding-top: 2px;

  @include vp-1023 {
    gap: 14px;
    padding-top: 0;
  }

  @include vp-767 {
    margin-right: 0;
    margin-left: -7px;
    gap: 13px;
  }

  a {
    display: flex;
    padding: 4px;
  }

  svg {
    @include vp-1023 {
      width: 16px;
      height: 16px;
    }
  }
}
